<p>
  <%= t("auth.reset_body") %>
  <%= link_to t("auth.reset_link_text"), edit_password_url(@user.password_reset_token) %>.

  <%= t("auth.reset_expiry", time: distance_of_time_in_words(0, @user.password_reset_token_expires_in)) %>
</p>
